{{!-- Navigation --}}
<nav class="main-nav">
	<div class="home-link">
		<a href="/" class="nav-link">
			{{PageDetails.Description.title}}
		</a>
		<a href="/" class="mobile_nav-link">
			<img src="{{PageDetails.Description.mobile-logo}}" alt="" class="mobile-logo">
		</a>
	</div>
	<div class="site-links">
		<ul class="link-list">
			{{#each PageDetails.Navigation}}
				<li class="nav-item {{name}}">
					<a href="{{link}}" class="nav-link" alt="{{title}}" title="{{title}}">
						{{name}}
					</a>
				</li>
			{{/each}}
		</ul>
		{{!-- More Button Suppressed --}}
		{{!-- <div class="more-link">
			<a href="#" class="btn btn-more">
				+
			</a>
		</div> --}}
	</div>

	<div id="Menu">
		<span class="icon-menu"></span>
	</div>


	{{!-- Mobile Navigation Module --}}
	<div class="mobile_main-nav">
		<ul class="mobile_link-list">
			{{#each PageDetails.Navigation}}
				<li class="mobile_nav-item">
					<a href="{{#if mobileLink}}mailto:{{mobileLink}}{{else}}{{link}}{{/if}}" class="mobile_nav-link">
						{{name}}
					</a>
				</li>
			{{/each}}
		</ul>
	</div>

	{{!-- Contact Form Overlay --}}
	<div class="contact-form-wrapper form-wrapper">
		<div class="contact-form">
			<h4 class="h4">
				Questions? Comments? Just Curious?
			</h4>

			{{>FormModule HideCopyright=true}}
		</div>
	</div>
</nav>