<div class="project-detail-wrapper">
	<div class="details-content">
		<div class="project-name">
			<h2 class="h3">
				{{projectName}}
			</h2>
		</div>
		<div class="project-details">
			<p class="discipline">
				<strong>Discipline</strong>: <br>
				{{{discipline}}}
			</p>
			<p class="talent">
				<strong>Talent</strong>: <br>
				{{{talent}}}
			</p>
			{{!-- <div class="view-project">
				<a href="{{projectLink}}" class="view-project-link">
					View Project
				</a>
			</div> --}}
		</div>
	</div>
	<div class="background-color" style="background-color: #{{hexColor}};"></div>
</div>